body {
  background-color: royalblue;
}

.App {
  text-align: center;
  color: white;
}

.App .container {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 18px;
}